@import "style/reset.css";
@import "style/nav.css";
@import "style/playerCard.css";
@import "style/backpack.css";
@import "style/achie.css";
@import "style/stat.css";
@import "style/info.css";
@import "style/toogle.css";
@import "style/share.css";
@import "style/vertNav.css";
@import "style/table.css";






.wrapper {
	width: 1440px;
	margin: 0 auto;
}
.divider{
	display: block;
	height: 1px;
	background: #D6D7F9;
}
.header {
	display: flex;
	align-items: center;
	padding: 25px 40px;
	box-shadow: 0px 2px 4px 0px #E9E9E9;
}
.logo {
	height: 32px;
	width: 295px;
	margin-right: 50px;
	flex-grow: 0;
}
.show-more-arrow {
	margin-left: 12px;
}
.dropdown {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 70px;
	height: 40px;
	background: #FFFFFF;
	border-radius: 5px;
	margin-right: 70px;
}
.dropdown__icon {
	width: 24px;
	height: 24px;
}
.player-small-avatar {
	display: flex;
	justify-content: center;
	align-items: center;
	border: 2px solid #5A60E7;
	border-radius: 50%;
	width: 40px;
	height: 40px;
	margin-right: 70px;
}
.player-small-avatar>img{
	width: 34px;
	height: 34px;
}

.icon {
}
.main {
	padding: 20px 40px;
	display: flex;
}
.aside {
	flex: 0 0 295px;
	margin-right: 50px;
	background: #FFFFFF;
	border-radius: 10px;
	box-shadow: 0px 2px 8px 0px #E9E9E9;
	padding-bottom: 20px;
}
.article {
	flex-grow: 1;
}
.ratio-season {
}
.dropdown__text {
}
.table {
}
.table__header {
}
.table__line {
}
.footer {
	background: #222222;
	color: #FFFFFF;
	padding: 40px;
}
.footer .logo{
	margin-bottom: 30px;
}
.footer__main {
	display: flex;
}
.footer__left{
	width: 285px;
	margin-right: 50px;
}
.store {
	margin-bottom: 50px;
}
.store img{
	height: 40px;
	width: 137px;
}
.contacts {
	margin-bottom: 30px;
}
.contacts__title {
	color: #ACAFF3;
	margin-bottom: 20px;
}
.contacts__list {
	margin-bottom: 15px;
}
.contacts__list-item {
}
.contacts__list-item a{
	display: flex;
	align-items: center;
	color: #FFFFFF;
}
.contacts__list-text {
}
.contents {
	flex-grow: 1;
	display: flex;
	justify-content: space-around;
}
.contents__list {
}
.contents__list-title {
	margin-bottom: 20px;
	color: #ACAFF3;
}
.contents__list-item {
	margin-bottom: 10px;
}
.contents__list-item a{
	color: #FFFFFF;
}
.footer__footer {
	justify-content: space-between;
	display: flex;
	align-items: flex-end;
}
.footer .divider{
	margin-bottom: 23px;
}
.copy {
}
.socials {
	display: flex;
}
.socials__item {
}



@media (max-width: 1280px){

.player-small-avatar {
	display: none;
}
.dropdown{
	display: none;
}

}
