@import "style/reset.css";
@import "style/nav.css";
@import "style/playerCard.css";
@import "style/backpack.css";
@import "style/achie.css";
@import "style/stat.css";
@import "style/info.css";
@import "style/toogle.css";
@import "style/share.css";
@import "style/vertNav.css";
@import "style/table.css";






.wrapper {
	width: 1440px;
	margin: 0 auto;
}
.divider{
	display: block;
	height: 1px;
	background: #D6D7F9;
}
.header {
	display: flex;
	align-items: center;
	padding: 25px 40px;
	box-shadow: 0px 2px 4px 0px #E9E9E9;
}
.logo {
	height: 32px;
	width: 295px;
	margin-right: 50px;
	flex-grow: 0;
}
.show-more-arrow {
	margin-left: 12px;
}
.dropdown {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 70px;
	height: 40px;
	background: #FFFFFF;
	border-radius: 5px;
	margin-right: 70px;
}
.dropdown__icon {
	width: 24px;
	height: 24px;
}
.player-small-avatar {
	display: flex;
	justify-content: center;
	align-items: center;
	border: 2px solid #5A60E7;
	border-radius: 50%;
	width: 40px;
	height: 40px;
	margin-right: 70px;
}
.player-small-avatar>img{
	width: 34px;
	height: 34px;
}

.icon {
}
.main {
	padding: 20px 40px;
	display: flex;
}
.aside {
	flex: 0 0 295px;
	margin-right: 50px;
	background: #FFFFFF;
	border-radius: 10px;
	box-shadow: 0px 2px 8px 0px #E9E9E9;

}
.article {
	flex-grow: 1;
}
.ratio-season {
}
.dropdown__text {
}
.table {
}
.table__header {
}
.table__line {
}
.footer {
}
.footer__main {
}
.store {
}
.contacts {
}
.contacts__title {
}
.contacts__list {
}
.contacts__list-item {
}
.contacts__list-text {
}
.contents {
}
.contents__list {
}
.contents__list-title {
}
.contents__list-item {
}
.footer__footer {
}
.copy {
}
.socials {
}
.socials__item {
}



@media (max-width: 1280px){

.player-small-avatar {
	display: none;
}
.dropdown{
	display: none;
}

}
